---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
	length?: number;
}

const { length } = Astro.props;

let posts = (
	await getCollection("blog", ({ data }) => {
		if (import.meta.env.DEV) {
			return true;
		}
		return data.published;
	})
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

if (length) {
	posts = posts.slice(0, length);
}
---

<ul class="grid w-full grid-cols-1 divide-y border-t lg:grid-cols-3">
	{
		posts.map((item) => (
			<li class="grid grid-cols-subgrid *:px-4 *:py-2 lg:col-span-3 lg:divide-x lg:divide-y-0 lg:*:p-4">
				<FormattedDate
					date={item.data.pubDate}
					class="font-lancip text-zinc-700 dark:text-zinc-300"
				/>
				<article class="lg:col-span-2">
					<h3 class="font-lancip text-xl font-semibold">
						<a href={`/blog/${item.id}`}>{item.data.title}</a>
					</h3>
					<p class="min-h-[6ch]">{item.data.description}</p>
					<a
						href={`/blog/${item.id}`}
						class="font-semibold underline decoration-amber-400 underline-offset-3 hover:decoration-2"
					>
						Lihat selengkapnya
					</a>
				</article>
			</li>
		))
	}
</ul>
